body {
    background-color: lightblue;
    font-family: Arial;
    font-size: 17px;  
    text-align: center;

}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}

img {
    border: 5px solid orange;
    border-radius: 250px;
    margin: 10px auto;
    
}

p {
    
    /*margin-right: 10px;
    margin-top: 20px; 
    margin-left: 30px;
    margin-bottom: 40px;  
    padding-right: 10px; 
    padding-left: 10px ;
    padding-top: 10px ;
    padding-bottom: 10px;*/
    padding: 20px ;
    background-color: aqua  ;
    width:1000px;
    margin: 20px auto;
    border: 4px double orange; /* Dotted, dashed, solid, double */
    border-radius: 10px;
    
}

p:hover {
    color:red;
    width: 1050px;
    font-size: 20px;
    cursor:grab;

}

.principal {
    background-color: blue;
    
}


#p2 {
    font-family: 'Times New Roman', Times, serif;
    color:white
}

.secundario {
    background-color: orange;
}
